DATABASE_URL=
AUTH_SECRET=
NEXT_PUBLIC_SITE_URL=https://lians.id
NEXT_PUBLIC_ADMIN_URL=https://admin.lians.id
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
SEED_ADMIN_EMAIL=admin@lians.id
SEED_ADMIN_PASSWORD=
